.tradingview-container {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--bg-dark);
    position: relative;
}

#tradingview_chart {
    width: 100%;
    height: 100%;
}